{{ define "frontend/index/index.html" }}
	{{template "frontend/public/page_header.html" .}}
	<!-- start banner_x 中部导航 -->
	<div class="banner_x center">
		<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
		<a href=""><div class="ad_top fl"></div></a>
		<div class="nav fl">
			<ul class="clearfix" id="nav_list">
				{{range $key, $value := .middleNavList }}
					<li>
						<a href="{{$value.Link}}" target="_blank">{{$value.Title}}</a>

						<ol class="children-list clearfix">
							{{range $k, $v := $value.GoodsItems }}
								<li>
									<a href="#">
										<img src="{{$v.GoodsImg | FormatImg }}" />
										<p>{{$v.Price}}</p>
									</a>
								</li>
							{{end}}
						</ol>
					</li>
				{{end}}
			</ul>
		</div>
		<div class="search fr">
			<form action="" method="post">
				<div class="text fl">
					<input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
				</div>
				<div class="submit fl">
					<input type="submit" class="sousuo" value="搜索"/>
				</div>
				<div class="clear"></div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<!-- end banner_x -->

	<!-- 商品分类 start banner_y -->
		<div class="banner_y center">
			<div class="nav">
				<ul>
					{{range $key, $value := .goodsCateList }}
					<li>
						{{if eq $value.Link ""}}
							<a href="category{{$value.Id}}" target="_blank">{{$value.Title}}</a>
						{{else}}
							<a href="{{$value.Link}}" target="_blank">{{$value.Title}}</a>
						{{end}}
						<div class="pop">
							<ol class="cate_list clear">
								{{range $k, $v := $value.GoodsCateItems}}
									<li>
										<div class="xuangou_left">
											{{if eq $v.Link ""}}
												<a href="category{{$v.Id}}" target="_blank"
												   class="clearfix">
													<div class="img fl"><img
																src="{{$v.CateImg | FormatImg}}"
																alt="{{$v.Title}}"></div>
													<span class="fl">{{$v.Title}}</span>
												</a>
											{{else}}
												<a href="{{$v.Link}}" target="_blank" class="clearfix">
													<div class="img fl"><img
																src="{{$v.CateImg | FormatImg}}"
																alt="{{$v.Title}}"></div>
													<span class="fl">{{$v.Title}}</span>
												</a>
											{{end}}
										</div>
									</li>
								{{end}}
							</ol>
						</div>
					</li>
					{{end}}
				</ul>
			</div>
			<!--轮播图-->
			  <div class="swiper-container">
				<div class="swiper-wrapper">
					{{range $key, $value := .focusList}}
					  <div class="swiper-slide">
						  <a href="{{$value.Link}}" target="_blank">
							<img src="{{$value.FocusImg | FormatImg}}" alt="{{$value.Title}}" />
						  </a>
					  </div>
					{{end}}
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			  </div>
		
		</div>	
		<!-- 商品分类end -->

		<div class="sub_banner center">
			<div class="sidebar fl">
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_01.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_02.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_03.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_04.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_05.gif"></a></div>
				<div class="fl"><a href=""><img src="/static/frontend/image/hjh_06.gif"></a></div>
				<div class="clear"></div>
			</div>
			<div class="datu fl"><a href=""><img src="/static/frontend/image/hongmi4x.png" alt=""></a></div>
			<div class="datu fl"><a href=""><img src="/static/frontend/image/xiaomi5.jpg" alt=""></a></div>
			<div class="datu fr"><a href=""><img src="/static/frontend/image/pinghengche.jpg" alt=""></a></div>
			<div class="clear"></div>


		</div>
	<!-- end banner -->
	<!-- 手机 -->
	<div class="category_item w">
		<div class="title center">手机</div>
		<div class="main center">
			<div class="category_item_left">
				<img src="static/frontend/image/shouji.jpg" alt="手机">
			</div>
			<div class="category_item_right">
				{{range $key,$value := .phoneList}}
					<div class="hot fl">
						<div class="xinpin"><span style="background:#fff"></span></div>
						<div class="tu"><a href="detail?id={{$value.Id}}"><img src="{{$value.GoodsImg | FormatImg}}"></a></div>
						<div class="miaoshu"><a href="detail?id={{$value.Id}}">{{$value.Title}}</a></div>
						<div class="jiage">{{$value.Price}}元</div>
						<div class="pingjia">372人评价</div>
						<div class="piao">
							<a href="">
								<span>{{SubStr $value.SubTitle 0 4}}</span>
							</a>
						</div>
					</div>
				{{end}}
			</div>
		</div>
	</div>
	{{template "frontend/public/page_footer.html" .}}
	</body>
</html>
{{end}}